@using System.Collections.Generic;
@using ThinkToCode.Common.Entity;
@using ThinkToCode.Common.Enumeration;

@model  IList<ArticleSummary>

@{
    ViewData["Title"] = "Home Page";
}




<div class="col-md-12 content-page">

    @if (Model != null)
    {
        @foreach (var articleSummary in Model)
        {
            <div class="col-md-12 blog-post">
                <div class="post-title">
                    <h1>@articleSummary.Tile </h1>
                </div>
                <!-- Post Headline End -->
                <!-- Post Detail Start -->
                <div class="post-info">
                    <span>@articleSummary.WrittenOn</span>
                </div>
                <!-- Post Detail End -->
                <p>
                    @articleSummary.Description
                </p>
                <div class="rightBottomCorner">
                    <a class="noUnderline" title="Click to read full article." href="/article/@articleSummary.SeoTitle"><span class="FirtCharacterMedium">F</span><b>ull article..</b></a>
                </div>

            </div>
        }
    }

</div>
