@using System.Collections.Generic;
@using ThinkToCode.Common.Entity;
@using ThinkToCode.Common.Enumeration;

@model  IList<ArticleSummary>

@{
    ViewData["Title"] = "Home Page";
}




<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">

        @if (Model != null)
        {
            @foreach (var articleSummary in Model)
            {

                <div class="post-title">
                    <h1>@articleSummary.Tile </h1>
                </div>
        <!-- Post Headline End -->
        <!-- Post Detail Start -->
                <div class="post-info">
                    <span>@articleSummary.WrittenOn</span>
                </div>
        <!-- Post Detail End -->
                <p>
                    @articleSummary.Description
                </p>
                <div class="row float-lg-right">
                   <a class="noUnderline" title="Click to read full article." href="/article/@articleSummary.SeoTitle"><b><u>Read full article..</u></b></a>

                </div>

            }
        }
    </div>
</div>
