<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <div>
                                <img class="img-circle avatar" src="~/images/bg/pattern-bg.png" />
                                <h3 class="text-uppercase">About me..</h3>
                                @*<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">*@
                                <p class="TopSpace100 about">
                                    My name is Lalit Chandra and I’m currently living in Hyderabad, India. I am a Web Developer with a focus on .Net and Python. 
                                    I’m also experienced with jQuery and JavaScript frameworks like Angular and ReactJS.
                                    In my  8 Years of professional working, I have experienced the flavor of a variety of languages and platforms.
                                    </br>
                                    I believe in learning as there is always a chance of improvement.
                                    In these many years, I learned a lot with my pears, teammates and more importantly from many unknown authors from blog/Article/QnA.
                                    
                                    So, I am sharing my knowledge through here.

                                    </br>   
                                    This is my first attempt, so there might be possibility to doing mistakes. If that happens, please leave you comment or feedback, so that I can correct or improve myself for next article.

                                    Anyway, always enjoy your work.
                                
                                </p>
                                <ul class="list-inline">
                                    <li>Date: @DateTime.Now.ToString("d")</li>
                                    <li>mail: info@lalitchandra.in</li>

                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>