@using System.IO;

@{
    ViewData["Title"] = "Home Page 666";
}
@model string

<div class="sub-title">
    <a href="index.html" title="Go to Home Page"><h2>Back Home</h2></a>
    <a href="#comment" class="smoth-scroll"><i class="icon-bubbles"></i></a>
</div>


<div class="col-md-12 content-page">
    test
</div>